/*============
Navigationbar
===============*/

main {
  position: relative;

  z-index: 1;
  padding: 2rem 0;
}

/*======================
  MAINBEREREICH
========================*/

/*=====Über Mich Flex Cointainer====*/
.ueberMich {
  display: flex;
  min-height: 60vh;
  max-width: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

/*=====Über Mich Bild====*/
.portraitueberMich {
  height: 400px;
  width: 350px;
  margin-top: 4rem;
  padding-left: 3rem;
  max-width: 600px;
}
/*=====Über Mich Titel====*/
.uebermichText {
  padding-right: 5rem;
  align-self: start;
  margin-top: 2rem;
  margin-right: 3rem;
  max-width: 600px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #3a2d2d;
}
/*=====Über Mich Beschreibung===*/
.ueberMichBeschreibung {
  font-size: 20px;
  font-style: italic;
  text-align: center;
}


